* {
  font-family: "Acme", "Courier New", Courier, monospace;
  color: white;
  font-size: 54px;
  margin: 0;
  padding: 0;
}
.gameTitle {
  margin-top: 8vh;
  margin-bottom: 8vh;
}
#gameContext {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/img/background.jpg");
  background-position: center;
  background-size: cover;
}
canvas {
  background-color: black;
  display: block; 
}
.gameOver {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.tryAgainIcon:hover {
  cursor: pointer;
}
.tryAgainIcon {
  margin-top: 50px;
}
/* Smartphones width */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}
/* Smartphone height */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}