* {
  font-family: "Acme", "Courier New", Courier, monospace;
  color: white;
  font-size: 54px;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url("./assets/img/background.jpg");
  background-position: center;
  background-size: cover;
}
.bg-black{
  background-color: rgba(0, 0, 0, 0.404);
}
.popUpContent {
  width: 100vw;
  height: 100vh; 
}
.instructions{
  position: absolute;
  top: 10vh; 
  width: 80vw;
}
.gameTitle {
  margin-top: 4vh;
  margin-bottom: 4vh;
}
#gameContext {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
canvas {
  background-color: black;
  display: block; 
}
.gameOver {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.tryAgainIcon:hover {
  cursor: pointer;
}
.tryAgainIcon {
  width: 350px;
  margin-top: 50px;
}
.tryAgainIconwin {
  position: absolute;
  top: 70vh; 
  width: 300px;
}
.winscreen{
  height: 100vh;
  width: 100vw;
}
.sharkieIMGStart { 
  margin-top: 5vh; 
  width: 300px;
  height: 300px;
}
.startTitle {
  margin-top: 10vh; 
  font-size: 80px;
}
.d-none{
  display: none !important; 
}
.d-flex{
  display: flex !important; 
}
.topPanel img {
  width: 30px;
}
.topPanel{
  position: relative;
  top: 200px;
  left: 330px;
}
#startScreen{
  height: 100vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.controllPanel  {
  opacity: 0.7;
  display: none;
}

.infoIcon {
  position: absolute;
  top: 20px; 
  left: 93vw; 
  width: 3vw;
}
#fullscreen {
  width: 3vw;
  position: absolute; 
  top: 20px; 
  left: 83vw;
}
#sound {
  width: 3vw;
  position: absolute;
  top: 20px; 
  left: 88vw;
}
.icon {
  border: 2px solid white; 
  border-radius: 3rem;
  padding: 2px;
  box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.2);
}
.infoIcon:hover {
  cursor: pointer;
}

.gameOverTitle{
  width: 80vw;
}
#game {
  max-height: 100vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.startButton {
  margin-top: 10vh; 
  width: 200px;
}
.pointer:hover {
  cursor: pointer;
}
.controllPanel img{
   width: 60px;
}
.footerPanel {
  position: relative;
  bottom: 20vh; 
}

@media only screen and (max-height: 800px){
  .sharkieIMGStart {
    display: none;
  }
  .gameTitle {
    display: none;
  }
  .controllPanel{
    display: flex;
    gap: 350px;
    object-fit: cover;
  }
  canvas{
    margin-bottom: 5vh;
    margin-top: 5vh;
  }
}
/* Smartphones width */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}
/* Smartphone height */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}
@media(max-height: 500px) {
  canvas{
    margin: 0; 
  }
  #fullscreen {
    display: none;
  }
}